{% extends '/adminpages/admin_nav.html' %}

{% block css3 %}<link rel='stylesheet' href="{{ url_for('static', filename='/css/admin/staff.css') }}">{% endblock %}

{% block title %}staff management{% endblock %}

{% block main_content %}


    <h1>Staff Request</h1>
    <div id='status-query-btns'>

        <div class='pending-btn'>
            <a href="{{ url_for('admin_staff', tab='Pending') }}" class="{{ 'active' if current_tab=='Pending' }} tab"> Pending {{ count[0] }}</a>
        </div>
        <div class='approved-btn'>
            <a href="{{ url_for('admin_staff', tab='Approved') }}" class="{{ 'active' if current_tab=='Approved' }} tab"> Approved {{ count[1] }}</a>
        </div>
        <div class='blacklisted-btn'>
            <a href="{{ url_for('admin_staff', tab='Blacklisted') }}" class="{{ 'active' if current_tab=='Blacklisted' }} tab"> Blacklisted {{ count[2] }}</a>
        </div>

        <div class='all-btn'>
            <a href="{{ url_for('admin_staff', tab='All') }}" class="{{ 'active' if current_tab=='All' }} tab">All  {{ count[3] }}</a>
        </div>

    </div>
    <form class="search" style="{{ 'display: initial;' if current_tab == 'All' else 'display: none;' }}" action="{{ url_for('admin_staff') }}" method="get">
        <input id="search-box" type="text" placeholder="Search by Name or Id" name="search">
        <button id="search-btn-t"><span class="material-symbols-outlined search-icon">search</span></button>
    </form>


        <table>
            <tr>
                <th>Staff Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contect</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for staff in staffs %}
                <tr>
                    <td>{{ staff.staff_id }}</td>
                    <td>{{ staff.name }}</td>
                    <td>{{ staff.email }}</td>
                    <td>{{ staff.phone }}</td>
                    <td>{{ staff.status }}</td>
                    <td>
                       <form class='action-btns' action="{{ url_for('update_staff_status', staff_id=staff.staff_id) }}" method="post">
                            <button type="submit" class='approve-staff-btn' name="status" value="Approved" style="{{ 'display: none;' if current_tab == 'Approved' else '' }}">Approve</button>
                            <button type="submit" class='reject-staff-btn' name="status" value="Blacklisted" style="{{ 'display:none;' if current_tab=='Blacklisted' else '' }}">Reject</button> 
                        </div> 
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}