{% extends '/adminpages/admin_nav.html' %}

{% block css3 %}<link rel='stylesheet' href="{{ url_for('static', filename='/css/admin/user.css') }}">{% endblock %}

{% block title %}User{% endblock %}

{% block main_content %}

    <h1>Users</h1>
    <div id='search-filter'>
        <form class="search" action="{{ url_for('admin_user') }}" method="get">
            <input id="search-box" type="text" placeholder="Search by Name or Id" name="search">
            <button id="search-btn-t"><span class="material-symbols-outlined search-icon">search</span></button>
        </form>
        <form class="filter" action="{{ url_for('admin_user') }}" method="get">

            <div class="filters">
                <label for="status" class="label">Status</label>
                <select name="status" id="status">
                    <option value="">Select</option>
                    <option value=0>Active</option>
                    <option value=1>Blacklisted</option>
                </select>
            </div>
            <button id="filter-btn">Filter  <span class="material-symbols-outlined filter-icon">filter_alt</span></button>
        </form>

    </div>

        <table>
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone no.</th>
                <th>Active Booking</th>
                <th>Canceled Booking</th>
                <th>Completed Booking</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.active_bookings() | length }}</td>
                    <td>{{ user.canceled_bookings() | length }}</td>
                    <td>{{ user.completed_bookings() | length }}</td>
                    <td>{{ 'Blacklisted' if user.is_blacklisted else 'Active' }}</td>
                    <td>
                       <form class='action-btns' action="{{ url_for('update_user_status', user_id=user.user_id) }}" method="post">
                            <button type="submit" name="status" class="active" value ="False" style="{{ 'display:none;' if not user.is_blacklisted }}">Active</button>
                            <button type="submit" name="status" class="blacklist" value="True" style="{{'display:none' if user.is_blacklisted}}">Blacklist</button>
                       </form> 
                    </td>
                </tr>
            {% endfor %}
        </table>
    
{% endblock %}