{% extends 'staffpages/staff_nav.html' %}

{% block css3 %} <link rel='stylesheet' href="{{ url_for('static', filename='/css/staff/trek.css') }}"> {% endblock %}

{% block title %}{{staff.name}} Treks{% endblock %}



{% block main_content %}

    <h1>Treks</h1>
    <div class="addtrek-rowcount">
        <a class='trek_history' href="{{ url_for('staff_trek_history', staff_id=staff.staff_id) }}"> Trek History </a>
    </div>
    
    <div id='search-filter'>
        <form class="search" action="{{ url_for('staff_trek', staff_id=staff.staff_id) }}" method="get">
            <input id="search-box" type="text" placeholder="Search by Name or Id" name="search">
            <button id="search-btn-t"><span class="material-symbols-outlined search-icon">search</span></button>
        </form>
        <form class="filter" action="{{ url_for('staff_trek', staff_id=staff.staff_id) }}" method="get">

            <div class="filters">
                <label for="status" class="label">Status</label>
                <select name="status" id="status">
                    <option value="">Select</option>
                    <option value="Approved">Approved</option>
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                    <option value="Started">Started</option>
                </select>
            </div>

            <button id="filter-btn">Filter  <span class="material-symbols-outlined filter-icon">filter_alt</span></button>
        </form>

    </div>

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>Last Booking Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for trek in active_treks %}
                <tr>
                    <td>{{ trek.trek_id }}</td>
                    <td>{{ trek.trek_name }}</td>
                    <td>{{ trek.location }}</td>
                    <td>{{ trek.start_date }}</td>
                    <td>{{ trek.last_booking_date }}</td>
                    <td>{{ trek.status }}</td>
                    <td>
                       <div class='action-btns'>
                            <a class='edit-trek-btn' href="{{ url_for('staff_trek_manage', trek_id=trek.trek_id, staff_id=staff.staff_id) }}">Manage</a>
                        </div> 
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}