{% extends 'userpages/user_nav.html' %}


{% block css3 %} <link rel="stylesheet" href="{{ url_for('static', filename='/css/users/dashboard.css') }}"> {% endblock %}

{% block title %}{% endblock %}


{% block main_content %}

    <h1>Welcome {{ user.name }}!</h1>
    <div id='cards'>

        <div class='card'>
            <div class='card-text'>
                <div class='card-label'>Open Treks</div>
                <div class='card-value'>{{ open_trek_count }}</div>
            </div>
            <span class="material-symbols-outlined">group</span>
        </div>

        <div class='card'>
            <div class='card-text'>
                <div class='card-label'>My Active Treks</div>
                <div class='card-value'>{{ my_active_trek_count }}</div>
            </div>
            <span class="material-symbols-outlined">forest</span>
        </div>

        <div class='card'>
            <div class='card-text'>
                <div class='card-label'>My Active Bookings</div>
                <div class='card-value'>{{ my_bookings_count }}</div>
            </div>
            <span class="material-symbols-outlined">forest</span>
        </div>
    
    </div>

    <div id='booking-info'>
        <h2>Available Treks for Booking</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Duration</th>
                <th>Start Date</th>
                <th>Booking End Date</th>
            </tr>
            {% for trek in open_trek %}
                <tr>
                    <td>{{ trek.trek_id }}</td>
                    <td>{{ trek.trek_name }}</td>
                    <td>{{ trek.location }}</td>
                    <td>{{ trek.duration }}</td>
                    <td>{{ trek.start_date }}</td>
                    <td>{{ trek.last_booking_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}