{% extends 'base.html' %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='/css/side_nav_bar.css')}}"> {% endblock %}

{% block css2 %}{% endblock %}

{% block css3 %}{% endblock %}

{% block title %}{% endblock %}



{% block content %}

<div class="content">
    <div class="side-nav-bar">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div class="main-content">
        {% block main_content %}
        {% endblock %}
    </div>
</div>

{% endblock %}