#trek-btn {
    background-color: #3F5B24;
    color: #F7F5B7;
    font-weight: bolder;
    border-radius: 5px; 
}


form {
    display: flex;
}

.half_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;

}

textarea {
    resize: none;
}